* {
  font-family: Courier;
}

#invoer input{
  border: none;
  border-radius: 5px;
  background-color: #c9c9c9;
  padding: 6px;
  color: white;
}

#invoer input:focus {
  border: 1px solid lightblue;
  background-color: #848484;
}

#bday {
  margin-left: 5px;
  padding: 5px;
  border-spacing: 10px;
}

#invoer button{
  padding: 5px;
  border-radius: 5px;
  border: none;
}
